{% extends 'companymaster.html' %}

{% block company %}




  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Employee Panel</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'companyadminpanel' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Add Employee</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Employee Panel</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

              <hr>
              <center><h4 style="color:red;"><b>{{ msg }}<b/></h4></center>
              <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">


                  <div class="form-group">
                    <label for="exampleInputName">Add Category Name</label>
                  <select name="cats" class="form-control">

                    {% for i in cats %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                  </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputName">Add Contact Details</label>
                  <select name="contact" class="form-control">

                    {% for i in cnt %}
                    <option value="{{ i.id }}">{{ i.user }} | {{ i.name }}</option>
                    {% endfor %}
                  </select>
                  </div>

                   <div class="form-group">
                    <label for="exampleInputPassword">Add User Name</label>
                  <select name="user" class="form-control">

                    {% for i in cnt %}
                    <option value="{{ i.user.id }}">{{ i.user }}</option>
                    {% endfor %}
                  </select>
                  </div>



                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Create New</button>
                </div>
              </form>
            </div>
            <!-- /.card -->


          </div>
          <!--/.col (left) -->
          <!-- right column -->
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}