<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://fonts.googleapis.com/css?family=Archivo Black"
    rel="stylesheet"
  />
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <style>
      * {
        margin: 0;
        padding: 0;

      }



      .heading {
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        padding: 3rem 0rem 0rem 0rem;
        font-family: 'Aclonica';
      }
      .para {
        color: rgb(97, 84, 84);
        padding: 18px 8rem;
        font-family: 'Albert Sans';
        word-spacing: 5px;
}



    </style>
    <title>Disclaimer</title>
  </head>
  <body>
    <section class="Disclimer">

      <h1 class="heading">Disclaimer of Warranties and Liability</h1>
      <p class="para">
        You understand and acknowledge that You are availing our Services and
        transacting on our Website at your own risk. We shall neither be liable
        nor responsible for any actions or inactions of the User. We further
        expressly disclaim any warranties, conditions, representations and
        stipulations (express or implied) in respect of quality, reliability,
        accuracy, timeliness, performance, safety, merchantability, fitness for
        a particular purpose, or legality of the products displayed or
        transacted on our Website.
      </p>
    </div>

  </section>


  <section class="Disclimer">
    <h1 class="heading">Disclaimer</h1>
      <p class="para">
        The Website expressly disclaims all warranties of any kind, whether
        express or implied, including, without limitation, any warranties in
        relation to materials posted on the Website and are not intended to
        amount to advice on which reliance should be placed without verification
        by the user. The Website disclaims all liability and responsibility
        arising from any reliance placed on such materials on the Website, or by
        anyone who may be informed of any of its contents.
      </p>
      <p class="para">
        No warranties are made that the Website will meet your requirements, or
        that access to the Website will be uninterrupted, timely, secure, or
        error-free, or that defects, if any, will be corrected. The Website
        makes no warranties as to the accuracy, or reliability of any
        information provided through the Website.
      </p>

  </section>
  </body>
</html>
