<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Albert Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <style>
      * {
        margin: 0;
        padding: 0;

      }


      .heading {
        text-align: center;
        font-size: 50px;
        /* text-shadow: 2px 2px 8px #565c59; */
        text-transform: uppercase;

        padding: 3rem 0rem 0rem 0rem;
        font-family: 'Aclonica';
      }
      .para {
        color: rgb(97, 84, 84);
        padding: 2rem 16rem;
        font-family: 'Albert Sans';
        word-spacing: 5px;

      }

    </style>
    <title>Privacy-Guidelines</title>
  </head>
  <body>
    <section class="privacy-Guide">

        <h1 class="heading">Privacy Guidelines</h1>
        <p class="para">
          For the purposes of User registration, you will be required to choose
          a password and You shall provide accurate information while creating
          your account on Our Website. You are responsible for maintaining the
          confidentiality of your password. We reserve all rights to access,
          share, communicate, convey, and disseminate some or all of the
          customer specific information to the extent it is permissible under
          the applicable laws in India, in order to provide better Services to
          the Users. We store and protect your personal information including
          sensitive financial information, if collected, by employing adequate
          and reasonable security measures and the Rules there under.
        </p>
      </div>

    </section>
  </body>
</html>
